.default {
  background: url("https://img.freepik.com/premium-vector/big-set-abstract-hand-drawn-doodles-arrow-heart-cloud-sun-star-line-art_6997-3393.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: auto;
}

.custom {
    background-repeat: no-repeat;
    background-size: auto;
}
